<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>{{ .Site.Title }}</h1>
      <p class="lead">
        A <a href="https://www.dartlang.org/">Dart</a> library to build User Interfaces.
      </p>
    </div>

    <ul class="sidebar-nav">
      <li><a href="/liquid/">Home</a> </li>
      {{ range .Site.Menus.main }}
        <li><a href="{{.Url}}"> {{ .Name }} </a></li>
      {{end}}
    </ul>

    <p>&copy; {{.Now.Format "2006"}}. All rights reserved.</p>
  </div>
</div>
